
.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

#searchInput {
  width: 200px;
  padding: 5px;
}

#searchButton {
  padding: 5px 10px;
  margin-left: 5px;
  
}

#searchResults {
  margin-top: 10px;
  border: 1px solid #ccc;
  padding: 10px;
}

#searchResults p {
  margin-bottom: 5px;
  text-align: center;
}

.highlighted {
  background-color: yellow;
  font-weight: bold;
}


body {
    padding: 1vw;
    font-family: 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', 'Georgia,serif';
    line-height: 1.25;
    font-size: 14px;
    width: 100%;
    margin: 0;
    padding: 0;
    }
  .scroll-top {
  display: block;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: olive;
  color: beige;
  text-align: center;
  line-height: 80px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 16px;
  text-decoration: none;
  z-index: 999;
}

.scroll-top:hover {
  background-color:beige;
 color: olive;
}
.indented   {
    padding-left: 20px;
}
ul {
    list-style-type: none; 
}

a.download-btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: bold;
    color: white; 
    background-color: olive; 
    border-radius: 5px;
    transition: background-color 0.3s ease; 



}
a.download-btn:hover {
    background-color: transparent; 
    color: olive;
}
.dropdown {
    position: relative;
    display: inline-block;

}

.dropdown button {
    background-color: olive;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown button:hover {
    background-color: beige;
    color: olive;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;

    z-index: 1;
}


.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


.dropdown-content a:hover {
    background-color: transparent
}


.dropdown:hover .dropdown-content {
    display: block;
}
h1,
h2,

h5,
nav,
footer {
    text-align: center;
}
h1 {
    font-size: 6ex;
    padding: 5ex;
}
h3 {
    text-align: left;
   
   } 
.large-line-height {
    line-height: 2;
}
.justify-align {
    text-align: justify;
}
.justify-align::after {
    content: "";
    display: inline-block;
    width: 100%;

}



.right-align {
    text-align: right;
    width: 55%;
}
.left-align {
    text-align: left;
    width: 90%;
}
.center-align {
    text-align: center;
    width: 60%;
}

.justify-align {
    text-align: justify;
    
}

#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px; 
    z-index: 99; 
    border: none; 
    outline: none; 
    background-color: red; 
    color: white; 
    cursor: pointer; 
    padding: 15px; 
    border-radius: 10px; 
    font-size: 18px; 
  }
  
  #myBtn:hover {
    background-color: #555; 
  }
  


table {
    border-collapse: collapse;
    margin-bottom: 15px;
}
td {
    border: 1px solid black;
    padding: 8px;
}

td:first-child {
    border-left-width: 2px;
}

td:last-child {
    border-right-width: 2px;
}

tr:first-child td {
    border-top-width: 2px;
}

tr:last-child td {
    border-bottom-width: 2px;
}

.wrapper {
    max-width: 1170ex;
    color: olive;
    background-color: beige;



}
nav {
    margin-bottom: 1vw;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    padding: 1vw;
    font-size: 4ex;
}

nav a:hover {
    background-color: beige;
    color: olive;
}
nav a {
    background-color: olive;
    color: white;
    font-size: medium;
}
h2 {
    padding: 1vw;
}

h3 {
    font-weight: bold;
    padding: 1vw;
 

}
.large-space {
      margin-bottom: 50% 
    }

#details {
    padding: 2vw;
    margin: 1vw;
    text-align: center;
}

footer {
    border-top: 1px solid black;
    padding-top: 1vw;
    margin-top: 1vw;
}

.copyright {
    width: 50%;
    margin: auto;
}

.copyright_logos,
.copyright_text {
    display: inline;
}

.copyright_logo {
    width: 1vw;
    margin: .15vw;
}